In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('SparkHadi') \
    .getOrCreate()

In [3]:
import urllib.request

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-02.parquet"
filename = "yellow_tripdata_2021-02.parquet"

urllib.request.urlretrieve(url, filename)

('yellow_tripdata_2021-02.parquet', <http.client.HTTPMessage at 0x1b0204abfa0>)

In [4]:
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-02.parquet"
filename = "green_tripdata_2021-02.parquet"

urllib.request.urlretrieve(url, filename)

('green_tripdata_2021-02.parquet', <http.client.HTTPMessage at 0x1b020624370>)

In [5]:
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2021-02.parquet"
filename = "fhv_tripdata_2021-02.parquet"

urllib.request.urlretrieve(url, filename)

('fhv_tripdata_2021-02.parquet', <http.client.HTTPMessage at 0x1b020624cd0>)

In [6]:
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-02.parquet"
filename = "fhvhv_tripdata_2021-02.parquet"

urllib.request.urlretrieve(url, filename)

('fhvhv_tripdata_2021-02.parquet', <http.client.HTTPMessage at 0x1b020624c40>)

In [10]:
import pandas as pd

df = pd.read_parquet('fhvhv_tripdata_2021-02.parquet')

# Count the number of rows using the len() function
row_count = len(df)
print('Number of rows:', row_count)

Number of rows: 11613942

In [9]:
from IPython.display import display

# Read the parquet file into a Pandas DataFrame
df = pd.read_parquet('fhvhv_tripdata_2021-02.parquet', engine='pyarrow')

# Select the top 20 rows using the .iloc accessor
df_top20 = df.iloc[:20, :]

# Display the top 20 rows in the notebook
display(df_top20)

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02764,B02764,2021-01-31 23:59:00,2021-02-01 00:10:19,2021-02-01 00:10:40,2021-02-01 00:21:09,35,39,2.060,...,1.52,0.00,NaN,0.0,9.79,N,N,,N,N
1,HV0003,B02764,B02764,2021-02-01 00:13:35,2021-02-01 00:25:23,2021-02-01 00:27:23,2021-02-01 00:44:01,39,35,3.150,...,2.85,0.00,NaN,0.0,24.01,N,N,,N,N
2,HV0005,B02510,None,2021-02-01 00:12:55,NaT,2021-02-01 00:28:38,2021-02-01 00:38:27,39,91,1.776,...,1.12,0.00,NaN,0.0,6.91,N,N,N,N,N
3,HV0005,B02510,None,2021-02-01 00:36:01,NaT,2021-02-01 00:43:37,2021-02-01 01:23:20,91,228,13.599,...,2.91,0.00,NaN,7.0,35.05,N,N,N,N,N
4,HV0003,B02872,B02872,2021-01-31 23:57:50,2021-02-01 00:08:25,2021-02-01 00:08:42,2021-02-01 00:17:57,126,250,2.620,...,1.38,0.00,NaN,0.0,8.53,N,N,,N,N
5,HV0003,B02872,B02872,2021-02-01 00:11:48,2021-02-01 00:24:25,2021-02-01 00:26:02,2021-02-01 00:42:51,208,243,6.890,...,1.77,0.00,NaN,0.0,16.05,N,N,,N,N
6,HV0003,B02872,B02872,2021-02-01 00:39:45,2021-02-01 00:44:57,2021-02-01 00:45:50,2021-02-01 01:02:50,243,220,4.260,...,3.76,0.00,NaN,0.0,25.42,N,N,,N,N
7,HV0003,B02764,B02764,2021-01-31 23:55:59,2021-02-01 00:04:42,2021-02-01 00:06:42,2021-02-01 00:31:50,49,37,2.950,...,2.40,0.00,NaN,0.0,22.29,N,N,,N,N
8,HV0003,B02764,B02764,2021-02-01 00:27:54,2021-02-01 00:33:12,2021-02-01 00:34:34,2021-02-01 00:58:13,37,76,3.410,...,2.03,0.00,NaN,0.0,23.77,N,N,,N,N
9,HV0005,B02510,None,2021-01-31 23:56:04,NaT,2021-02-01 00:03:43,2021-02-01 00:39:37,80,241,15.998,...,4.44,0.00,NaN,0.0,35.80,N,N,N,N,N
10,HV0005,B02510,None,2021-02-01 00:46:24,NaT,2021-02-01 00:55:36,2021-02-01 01:08:39,174,51,2.354,...,1.30,0.00,NaN,0.0,9.16,N,N,N,N,N
11,HV0005,B02510,None,2021-01-31 23:59:26,NaT,2021-02-01 00:06:13,2021-02-01 00:33:45,235,129,9.643,...,3.15,0.00,NaN,0.0,27.83,N,N,N,N,N
12,HV0005,B02510,None,2021-02-01 00:31:01,NaT,2021-02-01 00:42:24,2021-02-01 01:11:31,129,169,10.231,...,3.96,0.00,NaN,0.0,25.99,N,N,N,N,N
13,HV0003,B02764,B02764,2021-01-31 23:58:59,2021-02-01 00:06:26,2021-02-01 00:07:05,2021-02-01 00:20:53,226,82,2.690,...,1.34,0.00,NaN,0.0,9.90,N,N,,N,N
14,HV0003,B02764,B02764,2021-02-01 00:19:07,2021-02-01 00:27:38,2021-02-01 00:28:56,2021-02-01 00:33:59,82,129,0.600,...,1.60,0.00,NaN,0.0,7.90,N,N,,N,N
15,HV0003,B02764,B02764,2021-02-01 00:25:36,2021-02-01 00:42:50,2021-02-01 00:44:53,2021-02-01 01:07:54,7,79,8.370,...,5.69,2.75,NaN,0.0,35.91,N,N,,N,N
16,HV0003,B02888,B02888,2021-02-01 00:02:23,2021-02-01 00:15:55,2021-02-01 00:17:55,2021-02-01 00:34:41,4,170,1.880,...,2.64,2.75,NaN,0.0,23.75,N,N,,N,Y
17,HV0003,B02888,B02888,2021-02-01 00:31:11,2021-02-01 00:37:32,2021-02-01 00:38:14,2021-02-01 00:59:20,164,42,8.040,...,4.87,2.75,NaN,0.0,48.97,N,N,,N,Y
18,HV0004,B02800,None,2021-01-31 23:45:24,NaT,2021-02-01 00:08:04,2021-02-01 00:24:41,237,4,4.290,...,1.42,2.75,NaN,0.0,12.87,N,N,N,N,N
19,HV0004,B02800,None,2021-02-01 00:08:40,NaT,2021-02-01 00:30:44,2021-02-01 00:41:26,107,45,1.530,...,1.04,2.75,NaN,0.0,7.06,N,N,N,N,N

In [85]:
# register the DataFrame as a temporary view so that you can use SQL syntax to query it
df.createOrReplaceTempView("trips")

In [86]:
# Question 1. How many taxi trips were there on February 15?
question1 = spark.sql("SELECT count(*) Trip_Count FROM trips Where cast(request_datetime as date) = '2021-02-15' ")

# show the results
question1.show()

+----------+
|Trip_Count|
+----------+
|    424638|
+----------+

In [40]:
# Question 2. Find the longest trip for each day ?
question2 = spark.sql("SELECT cast(request_datetime as date) as trip_day, max(trip_miles) as longest_trip_miles \
                      FROM trips \
                      where cast(request_datetime as date) is not null \
                      group by cast(request_datetime as date) \
                      order by cast(request_datetime as date) asc ")

# show the results
question2.show()

+----------+------------------+
|  trip_day|longest_trip_miles|
+----------+------------------+
|2021-02-01|            212.43|
|2021-02-02|            282.78|
|2021-02-03|            184.26|
|2021-02-04|            203.97|
|2021-02-05|            245.35|
|2021-02-06|            275.32|
|2021-02-07|            216.36|
|2021-02-08|             253.5|
|2021-02-09|            480.73|
|2021-02-10|             512.5|
|2021-02-11|            240.66|
|2021-02-12|            250.11|
|2021-02-13|            226.24|
|2021-02-14|            207.44|
|2021-02-15|           173.582|
|2021-02-16|           307.661|
|2021-02-17|            324.19|
|2021-02-18|            527.11|
|2021-02-19|            224.33|
|2021-02-20|            329.16|
+----------+------------------+
only showing top 20 rows

In [54]:
# Question 3. Find Top 5 Most frequent `dispatching_base_num` ?
question3 = spark.sql("SELECT dispatching_base_num, count(*) as trip_day \
                      FROM trips \
                      group by dispatching_base_num \
                      order by count(*) desc limit 5 ")

# show the results
question3.show()

+--------------------+--------+
|dispatching_base_num|trip_day|
+--------------------+--------+
|              B02510| 3233664|
|              B02764|  965568|
|              B02872|  882689|
|              B02875|  685390|
|              B02765|  559768|
+--------------------+--------+

In [55]:
# Question 4 Find Top 5 Most common location pairs (PUlocationID and DOlocationID) ?
question4 = spark.sql("SELECT PUlocationID, DOlocationID, count(*) as trip_day \
                      FROM trips \
                      group by PUlocationID, DOlocationID \
                      order by count(*) desc limit 5 ")

# show the results
question4.show()

+------------+------------+--------+
|PUlocationID|DOlocationID|trip_day|
+------------+------------+--------+
|          76|          76|   45041|
|          26|          26|   37329|
|          39|          39|   28026|
|          61|          61|   25976|
|          14|          14|   17934|
+------------+------------+--------+

In [87]:
# 5. Write all of the result to BigQuery table (additional - point plus)
import os

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "D:\Iykra\spark\service_account\fellowship9-380013-f6db3376755c.json"
credentials_location = 'D:\Iykra\spark\service_account/fellowship9-380013-f6db3376755c.json'

In [88]:
# write the data to BigQuery
question1.write \
    .format("bigquery") \
    .option("table", "fellowship9-380013.staging.question1") \
    .mode("overwrite") \
    .save()

question2.write \
    .format("bigquery") \
    .option("table", "fellowship9-380013.staging.question2") \
    .mode("overwrite") \
    .save()

question3.write \
    .format("bigquery") \
    .option("table", "fellowship9-380013.staging.question3") \
    .mode("overwrite") \
    .save()

question4.write \
    .format("bigquery") \
    .option("table", "fellowship9-380013.staging.question4") \
    .mode("overwrite") \
    .save()
 

spark.stop()

Py4JJavaError: An error occurred while calling o269.save.
: java.lang.ClassNotFoundException:
Failed to find data source: bigquery. Please find packages at
https://spark.apache.org/third-party-projects.html

	at org.apache.spark.sql.errors.QueryExecutionErrors$.failedToFindDataSourceError(QueryExecutionErrors.scala:587)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:675)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSourceV2(DataSource.scala:725)
	at org.apache.spark.sql.DataFrameWriter.lookupV2Provider(DataFrameWriter.scala:864)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:256)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1589)
Caused by: java.lang.ClassNotFoundException: bigquery.DefaultSource
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:588)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:521)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$5(DataSource.scala:661)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$4(DataSource.scala:661)
	at scala.util.Failure.orElse(Try.scala:224)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:661)
	... 14 more